Source: micro-httpd
Section: httpd
Priority: optional
Maintainer: Jari Aalto <jari.aalto@cante.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Vcs-Browser: http://git.debian.org/?p=collab-maint/micro-httpd.git
Vcs-Git: git://git.debian.org/git/collab-maint/micro-httpd.git
Homepage: http://www.acme.com/software/micro_httpd

Package: micro-httpd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, openbsd-inetd | inet-superserver | micro-inetd | netcat-traditional
Suggests: micro-proxy
Provides: httpd
Description: really small HTTP server
 A very small HTTP server implemented in 150 lines of code.
 Program can be used to serve HTTPS by wrapping it with stunnel.
 It implements all the basic features of an HTTP server, including:
 .
   * Security against ".." filename snooping
   * The common MIME types
   * Trailing-slash redirection
   * index.html
   * Directory listings
