#!/usr/bin/make -f

PACKAGE = micro-httpd
BIN	= micro_httpd

MANSECT = 8
MANSRC  = debian
MK_MAN  = pod2man.mk

include debian/debian-vars.mk
include /usr/share/dpatch/dpatch.make

man:
	# convert *.pod to manual page
	$(MAKE) -C $(MANSRC) -f $(MK_MAN) PACKAGE=$(PACKAGE) \
	MANSECT=$(MANSECT) makeman

build: build-stamp
build-stamp: patch-stamp
	dh_testdir

	# Building package
	CFLAGS="$(CFLAGS)" $(MAKE) $(MAKE_FLAGS)

	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Cleaning package
	[ ! -f Makefile ] || $(MAKE) clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Installing package
	install -d -m 0755 $(SBINDIR) $(MAN8DIR)
	$(MAKE) install BINDIR=$(SBINDIR) MANDIR=$(MAN8DIR)

	# rename binary
	mv $(SBINDIR)/$(BIN) $(SBINDIR)/$(PACKAGE)

	# replace original manual page
	rm -f $(MAN8DIR)/*
	$(INSTALL_DATA) $(MANSRC)/*.8 $(MAN8DIR)

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs debian/NEWS.Debian debian/README*
	dh_install
	dh_installman $(MANSRC)/*.8
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install man
